<body>
  <div class="main">
    <div class="d-flex align-items-center">
      <img src="https://cdn.meetingroomapp.com/website/uploads/2020/11/03093137/cropped-MRA-FAVICON-512-5.png"
        alt="logo" id="logo" />
      <h4 id="logo-txt" routerLink="/">TechBook</h4>
    </div>
  </div>
  <br><br><br><br><br>
  <div class="wrapper">
    <div class="title">
      Registration Form
    </div>
    <form [formGroup]="form" (submit)="submit()" class="form">

      <div class="inputfield form-group">
        <label>Full Name</label>
        <input type="text" class="input" formControlName="name" #err_name>
      </div>

      <div class="inputfield form-group">
        <label>Age</label>
        <input type="number" class="input" formControlName="age" #err_age>
      </div>
      <div class="inputfield">
        <label>Birthdate</label>
        <input type="date" class="input" #birthdate (click)="removeError()">
      </div>
      <div class="alert alert-danger error_cred text-center p-2" #err_birth>This field is also required!</div>
      <br>
      <div class="inputfield">
        <label>Gender</label>
        <div class="custom_select">
          <select formControlName="gender" placeholder="" (click)="removeError()" #gender>
            <option value="">Select</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </div>
      <div class="alert alert-danger error_cred text-center p-2" #err_gender>This field is also required!</div>
      <br>

      <div class="inputfield">
        <label>Email Address</label>
        <input type="text" class="input" formControlName="email" #err_email (click)="removeError()">
      </div>
      <div class="alert alert-danger error_cred text-center p-2" #err_valid_email>The email address is invalid!</div>
      <br>
      <div class="inputfield">
        <label>Phone Number</label>
        <input type="number" class="input" formControlName="phone" #err_phone (click)="removeError()">
      </div>
      <div class="inputfield">
        <label>Address</label>
        <textarea class="textarea" formControlName="address" placeholder="" #err_address
          (click)="removeError()"></textarea>
      </div>
  
      <div class="inputfield">
        <label>Password</label>
        <input type="password" class="input" formControlName="password" #err_password (click)="removeError()">
      </div>
      <div class="inputfield">
        <label>Confirm Password</label>
        <input type="password" class="input" formControlName="password_confirmation" #err_cpassword
          (click)="removeError()">
      </div>
      <div class="alert alert-danger error_cred text-center p-3" #error_p_confirm>Password confirmation does not match!
      </div>
      <br>
      <div class="alert alert-danger error_cred text-center p-3" #error_p_least>The password must be at least 6
        characters.
      </div>
      <br>
      <div class="inputfield terms">
        <label class="check">
          <input type="checkbox" #err_check (click)="removeError()">
          <span class="checkmark"></span>
        </label>
        <p>Agreed to terms and conditions</p>

      </div>
      <br>
      <div class="alert alert-danger error_cred text-center p-3" #error_check_mess>You cannot proceed when you are not agreeing to our terms and conditions!
      </div>
      <br>

      <div class="inputfield">
        <input type="back" value="Return" class="btn" routerLink="/login">
        <input type="submit" value="Register" class="btn" [disabled]="!form.valid && (pass != cpass)">
      </div>
    </form>
    <br>
    <!-- <div class="alert alert-danger error_cred text-center p-3" #error >Not meet all the correct credentials!</div> -->
  </div>
  <div class="bg"></div>
</body>
