<app-customer-nav></app-customer-nav>
<br><br><br><br><br>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" >
    <div style="margin-left: 80px;">
        <div *ngFor="let tech of technicians" style="display: inline-flex;" >
            <div class="card user-card" style="margin: 40px; color:black;background-color: rgba(7, 135, 107, 0.805);" *ngIf="tech.category=== 'Computer Technician'">
                <div class="card-header">
                    <h5>Profile</h5>
                </div>
                <div class="card-block">
                    <div class="user-image">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">{{tech.name}}</h6>
                    <p class="text-muted"> Active | {{tech.gender}} |{{tech.birthdate}}</p>
                    <hr>
                    <p class="text-muted m-t-15">Activity Level: 87%</p>
                    <ul class="list-unstyled activity-leval">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="row justify-content-center user-social-link">
                      <div class="col-auto"><a href="#!"><i style="color: black;" class="fa fa-facebook text-facebook"></i></a></div>
                      <div class="col-auto"><a href="#!"><i style="color: blue;"class="fa fa-twitter text-twitter"></i></a></div>
                      <div class="col-auto"><a href="#!"><i style="color: orange;"class="fa fa-envelope text-envelope"></i></a></div>
                    </div>
                    <button routerLink="/request/2">Book Now!</button>
                </div>

            </div>

        </div>
	</div>
</div>
