<body>
  <div class="main">
    <div class="d-flex align-items-center">
      <img src="https://cdn.meetingroomapp.com/website/uploads/2020/11/03093137/cropped-MRA-FAVICON-512-5.png"
        alt="logo" id="logo" />
      <h4 id="logo-txt" routerLink="/">TechBook</h4>
    </div>
  </div>
  <br><br><br><br><br>

    <br><br><br><br><br><br><br><br><br>
    <form >
      <div class="container">
        <div class="wrapper">
          <div class="title"><span>Login Form</span></div>
          <form action="#">
            <div class="row">
              <i class="fas fa-user"></i>
              <input type="text" class="form-control" placeholder="Enter Email" (click)="removeError()" required #email >
            </div>
            <div class="row">
              <i class="fas fa-lock"></i>
              <input type="password" class="form-control" placeholder="Password" (click)="removeError()" required #password >
            </div>
            <div class="alert alert-danger error_cred" #error >Invalid Credentials!</div>
            <div class="pass"><a href="#">Forgot password?</a></div>
            <div class="row button">
              <input type="submit" value="Login" (click)="submit(email.value, password.value)">
            </div>
            <div class="signup-link" style="color:black">Not a member? <a href="" routerLink="/">Signup now</a></div>
          </form>
        </div>
      </div>
    </form>

    <div class="bg"></div>
</body>

