<body>

  <app-customer-nav></app-customer-nav>
  <br><br><br><br>
  <!-- Buttons trigger collapse -->
  <div class="container">

    <button class="btn btn-primary" type="button" (click)="basicCollapse.toggle()"
      [attr.aria-expanded]="!basicCollapse.collapsed" aria-controls="collapseExample">
      Confirm Transactions
    </button>

    <!--Collapsed content-->
    <div class="mt-3" id="collapseExample" mdbCollapse #basicCollapse="mdbCollapse">
      <div class="alert alert-warning">Here verifies your transaction when the processed is done. Be sure you are honest
        in verification and has possible accept the consequences when not
        following to our regulations!
      </div>

      <div class="container" style="height: 500px;overflow: auto;">
        <div class="row">
          <div class="col-xl-12">
            <div class="card mb-3 card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a href="#!.html">
                    <img src="https://www.bootdey.com/image/280x280/FF00FF/000000" class="width-90 rounded-3" alt="">
                  </a>
                </div>
                <div class="col">
                  <div class="overflow-hidden flex-nowrap">
                    <h6 class="mb-1">
                      <a href="#!" class="text-reset">CRM dashboard landing page</a>
                    </h6>
                    <span class="text-muted d-block mb-2 small">
                      Updated 2 Hours Ago
                    </span>
                    <div class="row align-items-center">
                      <div class="col-12">
                        <div class="row align-items-center g-0">
                          <div class="col-auto">
                            <small class="me-2">45%</small>
                          </div>
                          <div class="col">

                            <!-- Progress bar -->
                            <div class="progress bg-tint-success" style="height: 4px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 45%;"
                                aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-xl-12">
            <div class="card mb-3 card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a href="#!.html">
                    <img src="https://www.bootdey.com/image/280x280/6495ED/000000" class="width-90 rounded-3" alt="">
                  </a>
                </div>
                <div class="col">
                  <div class="overflow-hidden flex-nowrap">
                    <h6 class="mb-1">
                      <a href="#!" class="text-reset">CRM dashboard landing page</a>
                    </h6>
                    <span class="text-muted d-block mb-2 small">
                      Updated 2 Hours Ago
                    </span>
                    <div class="row align-items-center">
                      <div class="col-12">
                        <div class="row align-items-center g-0">
                          <div class="col-auto">
                            <small class="me-2">55%</small>
                          </div>
                          <div class="col">

                            <!-- Progress bar -->
                            <div class="progress bg-tint-success" style="height: 4px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 55%;"
                                aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-xl-12">
            <div class="card mb-3 card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a href="#!.html">
                    <img src="https://www.bootdey.com/image/280x280/00FFFF/000000" class="width-90 rounded-3" alt="">
                  </a>
                </div>
                <div class="col">
                  <div class="overflow-hidden flex-nowrap">
                    <h6 class="mb-1">
                      <a href="#!" class="text-reset">CRM dashboard landing page</a>
                    </h6>
                    <span class="text-muted d-block mb-2 small">
                      Updated 2 Hours Ago
                    </span>
                    <div class="row align-items-center">
                      <div class="col-12">
                        <div class="row align-items-center g-0">
                          <div class="col-auto">
                            <small class="me-2">25%</small>
                          </div>
                          <div class="col">

                            <!-- Progress bar -->
                            <div class="progress bg-tint-success" style="height: 4px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 25%;"
                                aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-xl-12">
            <div class="card mb-3 card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a href="#!.html">
                    <img src="https://www.bootdey.com/image/280x280/FFB6C1/000000" class="width-90 rounded-3" alt="">
                  </a>
                </div>
                <div class="col">
                  <div class="overflow-hidden flex-nowrap">
                    <h6 class="mb-1">
                      <a href="#!" class="text-reset">CRM dashboard landing page</a>
                    </h6>
                    <span class="text-muted d-block mb-2 small">
                      Updated 2 Hours Ago
                    </span>
                    <div class="row align-items-center">
                      <div class="col-12">
                        <div class="row align-items-center g-0">
                          <div class="col-auto">
                            <small class="me-2">65%</small>
                          </div>
                          <div class="col">

                            <!-- Progress bar -->
                            <div class="progress bg-tint-success" style="height: 4px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 65%;"
                                aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between">
        <img src="../../assets/images/transaction.png" id="sched_image" alt="transac">
        <h3 style="position: relative;top: 5px;color: white;">Transactions</h3>
      </div>

      <button class="btn btn-primary" (click)="printTransac()">


        <i class="fa-solid fa-print"></i></button>
    </div>

    <br>
    <div class="table-container bg-light">
      <table class="table table-hover ">
        <thead class="bg-dark" style="color: rgba(255, 255, 255, 0.975);font-weight: 400;">
          <th>#ID</th>
          <th>Technician's Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Status</th>
          <!-- <th>Action</th> -->
        </thead>
        <br>
        <tbody *ngIf="technicians.length" style="background-color: rgba(0, 0, 0, 0.047);">
          <tr *ngFor="let technician of technicians">
            <td>{{technician.id}}</td>
            <td>{{technician.name}}</td>
            <td>{{technician.email}}</td>
            <td>{{technician.phone}}</td>
            <td style="height: 100px;width: 200px;" readonly>{{technician.address}}</td>
            <td>
              <div class="alert alert-warning text-center">Pending</div>
            </td>
            <td>
              <!-- <button class="btn btn-info" routerLink="/edit/{{customer.id}}">Edit</button>&nbsp; -->
              <!-- <button class="btn btn-danger" (click)="deleteCustomer(customer.id)">Remove</button> -->
              <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
            </td>
          </tr>


        </tbody>
      </table>


    </div>

    <!-- <button class="btn btn-primary" routerLink="/add">Add New Customer</button> -->
  </div>








  <br><br><br>

  <app-footer></app-footer>
</body>

