body{
  background-image: linear-gradient(to right, rgba(8, 200, 207, 0.75), rgba(100, 154, 147, 0.8)), url(https://images.pexels.com/photos/7238606/pexels-photo-7238606.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}


.panel {
  height: 60%;
  margin-bottom:0px;
}


.color_key {
  float:left;
  height:22px;
  width: 8px;
  margin-right: 8px;
}
.table
{
  border: 2px solid rgba(0, 0, 0, 0.094);


}
.table-container{
  height:450px;
  overflow: auto;
}
#sched_image{
  width: 40px;
}
